@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 'Poppins', 'sans-serif';

}

body {
    background-color: black;
}


.main {
    background-image: url("assets/Images/image.png");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.tag {
    font-family: 'Martel Sans', 'sans-serif';
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: white;
    gap: 23px;
    padding: 0 30px;
    gap: 0px;
}

.tag>:nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    line-height: 1.2;
}

.tag>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.tag>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    background-color: rgb(45, 44, 44);
    height: 7px;
    width: 100vw;
}

.btn {
    padding: 3px 8px;
    font-weight:400;
    color: white;
    background-color:rgba(248, 243, 243, 0.021);
    border-radius: 4px;

    border: 1px solid white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px; 
    border-radius: 4px;
    font-weight: 400;

}
.btn-red-sm {
    background-color: red;
    color: white;
}

.tag-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}


.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border-color: rgba(236,236,236,0.5)

}